<div class="container">
  <h1>Your basket</h1>

  <p>Awesome! Beer is on the way</p>

  <p> You have ordered: </p>
    <li> 1x <%= @order.beer.name %> </li>

  <%= link_to 'See all your orders', orders_path %>


<%= console %>

</div>
