<div class="card-trip">
  <img src="https://images.pexels.com/photos/12360540/pexels-photo-12360540.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2" />
  <div class="card-trip-infos">
    <div class="centered-card">
      <h1>Welcome to BREW VEIN!</h1>
      </div>
  </div>
</div>

<div>
  <h2>Fear no longer. Never settle for supermarket draught again!</h2>
</div>
<%= link_to 'Enter our wonderful world of alcohol-enhanced medicine', "/beers" %></button>

  <div class="cards">
  <% 6.times do %>
    <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://images.pexels.com/photos/2565587/pexels-photo-2565587.jpeg?auto=compress&cs=tinysrgb&w=1200)">
      <%= @beers.sample.name %>
    </div>
  <% end %>
</div>
